*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
}

.f-bw{
    justify-content: space-between;
}

.f-ar{
    justify-content: space-around;
}

.container{
    width: 80%;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* header */
header{
    background-color: #0084fd;
    height: 5vh;
}

#logo{
    height: 3.5vh;
}

nav{
    align-items: center;
    height: 100%;
}

nav i{
    font-size: 3.5vh;
    color: white;
}

/* main */
/* sec- intro */
#intro{
    margin-top: 4vh;
}

.intro-item{
    background-color: #b5ddff;
    border-radius: 20px;  
    text-align: center;
    margin: 2vh 0;
}

.big{
    padding: 20px 20px 0px 20px;
}

.little{
    padding: 20px;
}

.intro-item > *{
    margin-bottom: 20px;
}

.intro-item p{
    color: #5a6e7f;
}

.intro-item i{
    text-align: center;
    font-size: 60px;
    color: #0084fd;
}

.big img{
    width: 80%;
    display: block;
    margin: auto;
}

.center button{
    padding: 10px 30px;
    background-color: #0084fd;
    color: white;
    border: none;
    border-radius: 20px;
}

h3{
    text-align: center;
    color: #0084fd;
}

