*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* utilities */
.flex{
    display: flex;
}

.f-bw{
    justify-content: space-between;
}

.f-ar{
    justify-content: space-around;
}

.container{
    width: 80%;
    margin: auto;
}

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.circle{
    border-radius: 50%;
}

.txt-margin > *{
    margin-top: 30px;
    margin-bottom: 30px;
}

.txt-margin-small > *{
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-cont{
    border-radius: 20px;
    padding: 15px;
}

.bg-white{
   background-color: white;
}

.bg-violet{
    background-color: #9792e4;
}

/* common */
button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

/* header */
header{
    background-color: #0084fd;
    height: 5vh;
}

#logo{
    height: 3.5vh;
}

nav{
    align-items: center;
    height: 100%;
}

nav i{
    font-size: 3.5vh;
    color: white;
}

/* main */
/* sec- intro */
#intro{
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.intro-item{
    background-color: #b5ddff;
    border-radius: 20px;  
    text-align: center;
    margin: 2vh 0;
}

.big{
    padding: 20px 20px 0px 20px;
}

.little{
    padding: 20px;
}

.intro-item p{
    color: #5a6e7f;
}

.little i{
    text-align: center;
    font-size: 60px;
    color: #0084fd;
}

.big img{
    width: 80%;
    display: block;
    margin: auto;
}

.center button{
    background-color: #0084fd;
    color: white;
    vertical-align: middle;
}

#intro h3{
    text-align: center;
    color: #0084fd;
}

.fa-apple{
    margin: 0;
    padding-right: 5px;
    vertical-align: middle;
}

/* sec- violet */
#v-sec{
    background-color: #9792e4;
    width: 100%;
    padding: 6vh 0;
}

#v-sec img{
    width: 100%;
}

#v-1{
    color: white;
}

#v-2 span{
    padding: 13px;
    position: relative;
    left: 42%;
}

/* sec- testimonials */
#testimonials{
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: block;
}

#testimonials > h5{
    font-family: sans-serif;
    font-weight: 200;
}

.card{
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}


[id|="testimonial"] {
    background-size: cover;
    height: 160px;
    width: 160px;
    background-position: center;
}

.t-info{
    margin-top: 15px;
}

.t-info > span{
    position: relative;
}

.o-quote::before {
    content: open-quote;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: -26px;
}

.c-quote::after{
    content: close-quote;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    bottom: -37px;
    right: -26px
}

#testimonial-1{
    background-image: url(../img/testimonial1.jpg);
}

#testimonial-2{
    background-image: url(../img/testimonial2.jpg);
}

#testimonial-3{
    background-image: url(../img/testimonial3.jpg);
}

/* benefits */
#benefits{
    padding: 4vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#benefits > h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px auto;
    color: white;
    flex-basis: 100%;
}

.ben-item h1,
.ben-item h2{
    color: #9792e4;
}

.ben-item p{
    color: #5a6e7f;
}

.ben-item h1:first-child{
    font-size: 50px;
}

.ben-item button{
    color: white;
}

/* about us */
#about-1 h1:first-child{
    font-size: 40px;
    color: #9792e4;
}

#about-1 > p{
    font-size: 1.2em;
}

#about-2{
    color: #9792e4;
}

#about-2 button{
    color: white;
}

#about-img{
    height: 180px;
    width: 180px;
    background-image: url(../img/about.jpg);
    background-size: contain;
    background-position: center;
}

#about-img::after{
    content: open-quote;
    font-weight: bold;
    font-size: 100px;
    color: #9792e4;
    position: relative;
    left: 130px;
    bottom: 10px;
}

/* get started */
#started{
    color: white;
    padding: 4vh 0;
    text-align: center;
 }

#started h3{
    opacity: 0.7;
    font-weight: 100;
 }

#started h1{
    color: #fdc15f;
    font-size: 50px;
 }

#started button{
    color: #9792e4;
    font-size: 1.3em;
    padding: 20px 45px;
    border-radius: 30px;
}

.fa-brands, .fab {
    font-weight: 400;
    font-size: 20px;
    vertical-align: middle;
    margin: 0;
}

.dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
 }

#started a{
    color: white;
}

/* footer */
footer{
    background-color: #333333;
    padding: 5vh 0;
}

#foot{
    color: white;
    text-align: center;
}

#foot a{
    color: #9792e4;
}

#foot *{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* media */

@media screen and (min-width:426px){

    #intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2vw;
    }

    .big{
        flex-basis: 66%;
        position: relative;
    }

    .big img{
        position: absolute;
        bottom: 0;
    }

    .little{
        flex-basis: 30%;
    }

    #v-1 h1{
        font-size: 6vw
    }

    #v-2 span {
        left: 45%;
    }

    .card{
        align-items: center;
        justify-content: space-between;
    }

    .t-info{
        flex-basis: 60%;
    }

    [id|="testimonial"] {
        width: 26vw;
        height: 26vw;
    }

    .ben-item{
        flex-basis: 48%;
    }
    
    #about{
        display: flex;
        justify-content: space-between;
    }

    #about-1{
        flex-basis: 54%;
    }

    #about-2{
        flex-basis: 40%;
    }
}

@media screen and (min-width:769px){
    #intro {
        font-size: 1em;
    }

    .big img{
        width: 10vw;
    }
}
