*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
}

.f-bw{
    justify-content: space-between;
}

.f-ar{
    justify-content: space-around;
}

.container{
    width: 80%;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    border-radius: 50%;
}

.txt-margin *{
    margin-top: 30px;
    margin-bottom: 30px;
}

.txt-margin-small *{
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-cont{
    border-radius: 20px;
    padding: 15px;
}

.bg-white{
   background-color: white;
}

.bg-violet{
    background-color: #9792e4;
}

/* common */
button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

/* header */
header{
    background-color: #0084fd;
    height: 5vh;
}

#logo{
    height: 3.5vh;
}

nav{
    align-items: center;
    height: 100%;
}

nav i{
    font-size: 3.5vh;
    color: white;
}

/* main */
/* sec- intro */
#intro{
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.intro-item{
    background-color: #b5ddff;
    border-radius: 20px;  
    text-align: center;
    margin: 2vh 0;
}

.big{
    padding: 20px 20px 0px 20px;
}

.little{
    padding: 20px;
}

.intro-item p{
    color: #5a6e7f;
}

.intro-item i{
    text-align: center;
    font-size: 60px;
    color: #0084fd;
}

.big img{
    width: 80%;
    display: block;
    margin: auto;
}

.center button{
    background-color: #0084fd;
    color: white;
}

h3{
    text-align: center;
    color: #0084fd;
}

/* sec- violet */
#v-sec{
    background-color: #9792e4;
    width: 100%;
    padding: 6vh 0;
}

#v-sec img{
    width: 100%;

}

#v-1{
    color: white;
}

#v-2 span{
    padding: 13px;
}

/* sec- testimonials */
#testimonials{
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: block;
}

#testimonials > h5{
    font-family: sans-serif;
    font-weight: 200;
}

.testimonial-card{
    color: white;
}

.testimonial-card span::before{
    content: open-quote;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.testimonial-card span::after{
    content: close-quote;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.testimonial-card span{
    line-height: 0;
}

[id|="testimonial"] {
    background-size: cover;
    height: 180px;
    background-position: center;
}

#testimonial-1{
    background-image: url(../img/testimonial1.jpg);
}

#testimonial-2{
    background-image: url(../img/testimonial2.jpg);
}

#testimonial-3{
    background-image: url(../img/testimonial3.jpg);
}

/* benefits */
#benefits{
    padding: 4vh 0;
}

#benefits > h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: white;
}

.ben-item h1,
.ben-item h2{
    color: #9792e4;
}

.ben-item p{
    color: #5a6e7f;
}

.ben-item h1:first-child{
    font-size: 50px;
}

.ben-item button{
    color: white;
}

/* about us */
#about-1 h1:first-child{
    font-size: 40px;
    color: #9792e4;
}

#about-1 > p{
    font-size: 1.2em;
}

#about-2{
    color: #9792e4;
}

#about-img{
    height: 180px;
    width: 180px;
    background-image: url(../img/about.jpg);
    background-size: contain;
    background-position: center;
}

#about-img::after{
    content: open-quote;
    font-weight: bold;
    font-size: 100px;
    color: #9792e4;
    position: relative;
    left: 130px;
    bottom: 10px;
}